
*.vsidx
*.lock
NorthwindC/.vs/NorthwindC/v17/.suo
*.sln
*.zip
*.config
*.csproj
*.cache
NorthwindC/NorthwindC/Properties/AssemblyInfo.cs
*.sqlite
NorthwindC/NorthwindC/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
